.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buttonTo {
  position:absolute;
  left:205px;
  bottom: 3px;
}

.joinButton {
  position:absolute;
  left:230px;
  bottom: 3px;
}

.editButton {
  position:absolute;
  left:230px;
}
.statues {
  bottom: 10px;
  position:absolute;
  left:150px;
}

.pageStyle {
}

.trashCan {
  position:absolute;
  left:265px;
  bottom: 14px;
}