.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buttonTo {
  position:absolute;
  left:195px;
  bottom: 3px;
}

.joinButton {
  position:absolute;
  left:205px;
  bottom: 3px;
}

.editButton {
  position:absolute;
  left:210px;
}
.statues {
  bottom: 8px;
  position:absolute;
  left:140px;
  font-size: 10px;
}

.pageStyle {
  top: 100px;
}

.trashCan {
  position:absolute;
  left:245px;
  bottom: 14px;
}

.date {
  font-size: 12px;
}

.create {
  margin-top: 50px;
}

.fontSize {
  margin-top: 250px;
  size: 100px;
}